@model WeBStore.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h3> @Model.Name </h3>
<li>MembershipType : @Model.MembershipType.Name</li>

    @if (Model.DateOfBirth.HasValue)
    {
        <li> BirthDate: @Model.DateOfBirth.Value.ToShortDateString()  </li>
        
    }

