
@{
    ViewBag.Title = "NewRental";

}

<h2>New Movie Rental</h2>

<form id="NewRentalForm">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">  
              <input id="customerControlID" name="customer" required data-rule-validCustomer="true"  type="text" value="" class="form-control" />
        </div>

    </div>
    <div>
        <label>Movies</label>
        <div class="tt-container">
            <input id="movieControlId" name="movie" data-rule-validMovies="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    


    <button class="btn btn-primary">Submit</button>
</form>


@section scripts
{   
    @Scripts.Render("~/bundles/jqueryval")

   <script>
       
    @*creating blank object*@

    $(document).ready(function(){

        var viewModel = {
                     movieIds: []
            };

    var customers = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        url: '/api/customers?query=%QUERY',
    wildcard: '%QUERY'
    }
    });

    $('#customerControlID').typeahead(
        {
            minLength : 2,
            highlight : true
             }, {
    name: 'customers',
    display: 'name',
    source: customers
             }).on("typeahead:select", function (e,customer) {
                 viewModel.customerId = customer.id;
             });

   

    var movies = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/api/movies?query=%QUERY',
            wildcard: '%QUERY'
        }
    });
    $('#movieControlId').typeahead(
    {
        minLength: 2,
        highlight: true
    }, {
        name: 'movies',
        display: 'name',
        source: movies
    }).on("typeahead:select", function (e, movie) {

        $("#movies").append("<li class='list-group-item'>"+movie.name+"</li>");

        $('#movieControlId').typeahead("val", "");

        viewModel.movieIds.push(movie.id);
    });

    //    //adding custom validation

    $.validator.addMethod("validCustomer", function () {
        return viewModel.customerId && viewModel.customerId !== 0;
    },"Please Select a Valid Customer");
    
    
    $.validator.addMethod("validMovies", function () {
        return viewModel.movieIds.length > 0;
    }, "Please Select Atleast One Movie");

        
        //save the form Data

    $("#NewRentalForm").validate({
        submitHandler: function () {
           
            $.ajax({
                url: "/api/newRental/",
                method: "post",
                data: viewModel

            })
            .done(function () {

                toastr.success("Movies Rented Sucessfully");
            })
            .fail(function () {
                toast.fail("Something Went Wrong");
            });
            //this will prevent the form being submitted normally
            return false;
        }
    });
    


    });

</script>
}

