
@{
    ViewBag.Title = "NewRental";

}

<h2>New Movie Rental</h2>

<form>
    <div class="form-group">
        <label>Customer</label>
        <input id="customerControlID" type="text" value="" class="form-control" />
    </div>
    <div>
        <label>Movies</label>
        <input type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{   
   <script>

    @*creating blank object*@

    $(document).ready(function(){

        //var viewModel ={};

    var customers = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        url: '/api/customers?query=%QUERY',
    wildcard: '%QUERY'
    }
    });

    $('#customerControlID').typeahead(
        {
            minLength : 2,
            highlight : true
             }, {
    name: 'customers',
    display: 'name',
    source: customers
    });

    });
</script>
}

